@model IEnumerable<CustomerViewModel>

<H1></H1>
@foreach (var item in Model)
{
    <div>
        <span>@item.AccountNumber</span>
        <span> - </span>
        <span>@item.ModifiedDate</span>
        <span> - </span>
        <span>@item.Territory.Name</span>
    </div>
}